<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль аккаунта</title>
    <link rel="stylesheet" href="template/user/profile/profile.css">
</head>

<body>
    <div>
        <div class="profile-form">
            <div class="avatar-container">
                <!-- Вставьте здесь ссылку на изображение вашей аватарки -->
                <img src="template/user/profile/profile.jpg" alt="Avatar">
            </div>
            <div class="profile-info">
                <label for="username">Логин:</label>
                <div id="username">Ваш логин</div>

                <label for="email">Почта:</label>
                <div id="email">example@example.com</div>

                <label for="phone">Номер:</label>
                <div id="phone">+7 (999) 123-45-67</div>
            </div>
            <button id="edit-profile-btn" class="edit-profile-btn">Редактировать профиль</button>
        </div>

        <div class="sidebar">
            <div class="tabs">
                <button>История поиска</button>
                <button>Активные курсы</button>
                <button>Сертификаты</button>
            </div>
        </div>
</body>
</html>