<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль аккаунта</title>
    <link rel="stylesheet" href="template/user/profile/profile.css">
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
</head>

<body id="body">
    <div id="main">
        <div class="profile-form">

            <div class="avatar-container">
                <img src="{{.Avatar}}" alt="Avatar">
            </div>

            <div class="profile-info">
                <input type="text" id="username" placeholder="{{.Login}}" value="{{.Login}}"></input>
                <input type="email" id="email" placeholder="{{.Email}}" value="{{.Email}}"></input>
                <input type="text" id="phone" placeholder="Номер не указан" value="{{.Phone}}"></input>
            </div>

            <h6 class="warning">Пожалуйста, нажмите кнопку "Редактировать профиль" и убедитесь, что информация заполнена правильно. Если вы не понимаете что нужно внести, то обратитесь к администратору, нажав на кнопку "поддержка". Это нужно для корректной генерации отчета</h6>
            <button hx-get="/update_profile" hx-target="#body" class="edit-profile-btn">Редактировать профиль</button>
        </div>

        <div class="sidebar">
            <form class="tabs">
                <button>Прошлый поиск</button>
                <button>Ваши курсы</button>
                <button hx-get="/profile" hx-target="#result">Сертификаты</button>
            </form>
        </div>

        <div id="result"></div>
    </div>
</body>
</html>