body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    min-height: 100vh;
}

.profile-form {
    padding: 20px;
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    max-width: 350px;
    width: 100%;
}

.profile-info {
    margin-top: 20px;
}

.profile-info input {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #c8c8c8;
}

#username{
    pointer-events: none;
}

#email{
    pointer-events: none;
}

#phone{
    pointer-events: none;
}

.warning{
    text-align: center;
    color: #ff0000;
}

.edit-profile-btn {
    display: block;
    margin: auto; /* Это выравнивает кнопку по горизонтали */
    text-align: center; /* Это выравнивает текст кнопки по центру кнопки */
    width: 150px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar-container img {
    max-width: 100%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.sidebar {
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.tabs {
    display: flex;
    flex-direction: row; /* Изменено на строку для расположения кнопок слева направо */
    justify-content: center; /* Для центрирования кнопок */
    margin-bottom: auto; /* Добавлено расстояние между кнопками */
}

.tabs button {
    padding: 10px;
    margin-right: 5px; /* Расстояние между кнопками */
    border: none;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    min-width: 120px;
}

.tabs button:hover {
    background-color: #0056b3;
}

.avatar-upload{
   margin: auto;
   width: 50%;
}

.avatar-upload button{
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.avatar-upload input{
    display: none;
}

/* Стили для области чата */
.chat-container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
/* Стили для сообщений в чате */
.chat-message {
    margin-bottom: 10px;
    word-wrap: break-word; /* Перенос слов при необходимости */
}
.chat-message .sender {
    font-weight: inherit;
    color: rgb(141, 17, 208);
}

#result {
    max-width: 350px;
}