<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма поиска</title>
    <link rel="stylesheet" href="template/course/course_template.css">

    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
</head>

<body>

    {{range .Courses}}
    <div class="course">

        <div class="course-img">
            <img src="{{.IconLink}}" alt="course_image">
        </div>

        <div class="course-info">
            <h3>{{.Name}}</h3>
            <p class="course-description">{{.Description}}</p>  
        </div>

        <div class="course-common">
            <div class="course-platform">Платформа: {{.Platform}}</div>
            <div class="author">Автор: {{.Author}}</div>
            <div class="rating">Рейтинг: {{.Rating}}</div>
            <div class="lang">Язык курса: {{.Language}}</div>
            <div class="duration">Длительность: {{.Duration}}</div>
            <div class="money">Цена: {{.Money}}</div>
            
            <div class="course-link">
                <button onclick='window.location.href = "{{.Link}}";'>Перейти</button>
                <!--<button hx-redirect="http://localhost:8088/test">Перейти</button>-->
            </div>
        </div>
    </div>
    {{end}}
</body>

</html>