body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.web-search,
.db-search,
.history-search {
    flex: 1; /* Растягиваем каждый блок на равную ширину */
    padding: 20px;
    margin: 20px;
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search-input {
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Центрирование по горизонтали */
    width: 80%; /* Ширина блока по центру */
    max-width: 400px; /* Максимальная ширина блока */
}

.profile-container{
    position: fixed;
    right: 1%;
    top: 4%; /* Можете настроить вертикальное положение элемента */
    transform: translateY(-50%);
}

.search-input input {
    height: 100%;
    width: 100%; /* Ширина инпута */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

/* Стили для мобильных устройств */
@media (max-width: 767px) {
    .web-search,
    .db-search,
    .history-search {
        width: 90%; /* Ширина формы на мобильных устройствах (меньше 767px) */
        max-width: 300px; /* Максимальная ширина для больших экранов */
        min-width: 150px; /* Минимальная ширина для маленьких экранов */
    }
}

/* Стили для больших экранов */
@media (min-width: 768px) {
    .web-search,
    .db-search,
    .history-search {
        width: 30%; /* Ширина формы на больших экранах (768px и больше) */
        max-width: 400px; /* Максимальная ширина для больших экранов */
        min-width: 250px; /* Минимальная ширина для маленьких экранов */
    }
}

.db-search-icon,
.web-search-icon,
.history-search-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.db-search-icon img,
.web-search-icon img,
.history-search-icon img {
    display: flex;
    max-width: 100%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile-container img{
    display: flex;
    max-width: 100%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.web-search-btn,
.db-search-btn,
.history-search-btn {
    display: block;
    margin: 0 auto; /* Это выравнивает кнопку по горизонтали */
    text-align: center; /* Это выравнивает текст кнопки по центру кнопки */
}

#result {
    position: absolute;
    left: 0;
    transform: translateY(61%);
}

.course {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.course-common {
    margin: 2%;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

.course-img {
    margin-right: 5px;
}

.course-img img {
    width: 360px;
    height: 220px;
    border-radius: 15px;
    max-width: 360px;
    margin: 5px;
}

.course-info {
    flex-grow: 1;
    text-align: center;
}

.course-info h4 {
    text-align: center;
}

.course-info p {
    text-align: center;
}

.course-info > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.course-platform {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 3px;
}

.lang,
.author,
.duration {
    margin-bottom: 3px;
    flex-grow: 1;
}

.money {
    margin-right: 1%;
}

.course-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 1%;
}

.rating {
    flex-grow: 1;
    margin-bottom: 3px;
}

.course-link button {
    margin: 5px;
}