<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма поиска</title>
    <link rel="stylesheet" href="template/course/search/search.css">
</head>

<body>

    <div>

    <div class="search-input">
        <input type="text" placeholder="Goland Clean Architecture..."></input>
    </div>

    <div class="search-form">

        <div class="web-search">
            <div class="web-search-icon">
                <img src="template/course/search/web-search-icon.jpg" alt="web-search-icon">
            </div>

            <div class="web-search-btn">
                <button>Веб поиск</button>
            </div>
        </div>

        <div class="db-search">
            <div class="db-search-icon">
                <img src="template/course/search/db-search-icon.jpg" alt="db-search-icon">
            </div>

            <div class="db-search-btn">
                <button>Быстрый поиск</button>
            </div>
        </div>

        <div class="history-search">
            <div class="history-search-icon">
                <img src="template/course/search/history-search-icon.jpg" alt="history-search-icon">
            </div>

            <div class="history-search-btn">
                <button>История последних поисков</button>
            </div>
        </div>

    </div>
</div>

</body>

</html>
